# All resources MUST be in the tenancy's home region. Never upgrade the account.
OCI_CLI=/opt/motivation/ops/bin/oci
OCI_CLI_AUTH=instance_principal
OCI_REGION=REPLACE_HOME_REGION
OCI_TENANCY_ID=ocid1.tenancy.REPLACE
OCI_COMPARTMENT_ID=ocid1.compartment.REPLACE
OCI_DATA_VOLUME_ID=ocid1.volume.REPLACE
OCI_BOOT_VOLUME_ID=ocid1.bootvolume.REPLACE
